.home {
width: 100%;
height: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
scroll-margin-top: 10vh;
}

#home{
    padding-top: 10vh; /* Navbar yüksekliği kadar boşluk */
  margin-top: 10vh; 
}

.headerContainer {
 width: auto;
 margin-left: 50px;
  }

.headerContainer h1 {
justify-content: center;
align-items: center;
font-size: 5rem;
height: 60px;
font-weight: 40;
color: black;
}

.headerContainer p {
    margin-top: 2rem;
    font-size: 40px;
    font-weight: lighter;
    color: black;
}

.headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 40px;
    width: 150px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 5px;
}

.headerContainer button:hover {
    background-color: #f1c40f;
    cursor: pointer;
    transition: 0.5s ease-in;
    color: black;
}

